<div class="mx-30 my-5 bg-slate-100">
  <h1 class="text-xl text-gray-500">Kategori İşlemleri</h1>

  <div class="bg-white mt-10 flex justify-between p-5 px-10 rounded-xl">
    <p-iconfield>
      <input
        type="text"
        pInputText
        placeholder="Kategori Ara"
        class="border border-gray-300 rounded-lg p-3 text-gray-500"
      />
      <p-inputicon class="pi pi-search" />
    </p-iconfield>
    <button
      type="button"
      class="text-white bg-green-500 hover:bg-green-600 rounded-full px-8 py-1.5 shadow-2xl"
      type="button"
      (click)="openAddCategoryModal()"
    >
      Kategori Ekle
      <i class="pi pi-plus"></i>
    </button>
  </div>
  <div class="mt-10 bg-white p-5 px-10 rounded-xl shadow">
    <p-table
      [value]="categories"
      [paginator]="true"
      [rows]="10"
      [responsiveLayout]="'scroll'"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Gösterilen {first} - {last} / {totalRecords}"
      class="w-full"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Kategori Resmi</th>
          <th>Kategori Adı</th>
          <th>İşlemler</th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-category>
        <tr>
          <td>
            <p-image
              [src]="'data:image/*;base64,' + category.ImageUri"
              [alt]="category.Name"
              width="64"
              height="64"
            >
            </p-image>
          </td>
          <td>{{ category.Name }}</td>
          <td>
            <button
              type="button"
              class="text-white bg-red-500 hover:bg-red-600 rounded-full px-4 py-1.5 shadow-2xl me-3"
              (click)="deleteCategory(category.Id)"
            >
              Sil
              <i class="pi pi-trash"></i>
            </button>
            <button
              type="button"
              class="text-white bg-green-500 hover:bg-green-600 rounded-full px-4 py-1.5 shadow-2xl"
              (click)="updateCategory(category)"
            >
              Güncelle
              <i class="pi pi-pencil"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <app-add-category-modal
    [(visible)]="isAddCategoryModalVisible"
    [category]="selectedCategory"
    (categoryAdded)="loadCategories()"
  >
  </app-add-category-modal>
</div>
