<div class="grid grid-cols-12 gap-7.5">
  <div class="col-span-12 md:col-span-6 xl:col-span-3">
    <mat-card class="cardWithShadow text-center mb-0!">
      <mat-card-content class="p-5">
        <h5 class="text-lg font-medium">Unique Visit</h5>
        <div class="flex justify-center w-full mx-auto" style="max-width: 120px;">
          <apx-chart class="w-full" [series]="spark1Chart.series" [chart]="spark1Chart.chart"
            [plotOptions]="spark1Chart.plotOptions" [xaxis]="spark1Chart.xaxis" [yaxis]="spark1Chart.yaxis"
            [grid]="spark1Chart.grid" [fill]="spark1Chart.fill" [tooltip]="spark1Chart.tooltip"
            [colors]="spark1Chart.colors">
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-2 border-t border-border">
        <mat-card-title class="text-lg">12,456</mat-card-title>
      </div>
    </mat-card>
  </div>
  <!-- 2 -->
  <div class="col-span-12 md:col-span-6 xl:col-span-3">
    <mat-card class="cardWithShadow text-center mb-0!">
      <mat-card-content class="p-5">
        <h5 class="text-lg font-medium">Total Visit</h5>
        <div class="flex justify-center w-full mx-auto" style="max-width: 120px;">
          <apx-chart class="w-full" [series]="spark2Chart.series" [chart]="spark2Chart.chart"
            [plotOptions]="spark2Chart.plotOptions" [xaxis]="spark2Chart.xaxis" [yaxis]="spark2Chart.yaxis"
            [grid]="spark2Chart.grid" [fill]="spark2Chart.fill" [tooltip]="spark2Chart.tooltip"
            [colors]="spark2Chart.colors">
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-2 border-t border-border">
        <mat-card-title class="text-lg">456</mat-card-title>
      </div>
    </mat-card>
  </div>
  <!-- 3 -->
  <div class="col-span-12 md:col-span-6 xl:col-span-3">
    <mat-card class="cardWithShadow text-center mb-0!">
      <mat-card-content class="p-5">
        <h5 class="text-lg font-medium">Bounce rate</h5>
        <div class="flex justify-center w-full mx-auto" style="max-width: 120px;">
          <apx-chart class="w-full" [series]="spark3Chart.series" [chart]="spark3Chart.chart"
            [plotOptions]="spark3Chart.plotOptions" [xaxis]="spark3Chart.xaxis" [yaxis]="spark3Chart.yaxis"
            [grid]="spark3Chart.grid" [fill]="spark3Chart.fill" [tooltip]="spark3Chart.tooltip"
            [colors]="spark3Chart.colors">
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-2 border-t border-border">
        <mat-card-title class="text-lg">1,125</mat-card-title>
      </div>
    </mat-card>
  </div>
  <!-- 4 -->
  <div class="col-span-12 md:col-span-6 xl:col-span-3">
    <mat-card class="cardWithShadow text-center mb-0!">
      <mat-card-content class="p-5">
        <h5 class="text-lg font-medium">Page Views</h5>
        <div class="flex justify-center w-full mx-auto" style="max-width: 120px;">
          <apx-chart class="w-full" [series]="spark4Chart.series" [chart]="spark4Chart.chart"
            [plotOptions]="spark4Chart.plotOptions" [xaxis]="spark4Chart.xaxis" [yaxis]="spark4Chart.yaxis"
            [grid]="spark4Chart.grid" [fill]="spark4Chart.fill" [tooltip]="spark4Chart.tooltip"
            [colors]="spark4Chart.colors">
          </apx-chart>
        </div>
      </mat-card-content>
      <div class="p-2 border-t border-border">
        <mat-card-title class="text-lg">6,450</mat-card-title>
      </div>
    </mat-card>
  </div>
</div>