<div class="grid grid-cols-12 gap-7.5">
  <div class="col-span-12 xl:col-span-8">
    <div class="grid grid-cols-12 gap-7.5">
      <div class="col-span-12 md:col-span-4">
        <app-product-a-sales></app-product-a-sales>
      </div>
      <div class="col-span-12 md:col-span-4">
        <app-product-b-sales></app-product-b-sales>
      </div>
      <div class="col-span-12 md:col-span-4">
        <app-product-c-sales></app-product-c-sales>
      </div>
      <div class="col-span-12">
        <app-sales-overview></app-sales-overview>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <app-product-sales></app-product-sales>
      </div>
      <div class="col-span-12 lg:col-span-6">
        <div class="flex flex-col gap-7.5">
          <app-download-count></app-download-count>
          <app-weather-card></app-weather-card>
        </div>
      </div>
      <div class="col-span-12">
        <app-product-overview></app-product-overview>
      </div>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <div class="flex flex-col gap-7.5">
      <app-earning></app-earning>
      <app-discount></app-discount>
      <app-monthly-winner></app-monthly-winner>
      <app-new-items></app-new-items>
    </div>
  </div>
</div>