<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <mat-card-title class="mb-2!">Product B Sales</mat-card-title>
    <div class="flex gap-4">
      <div>
        <span class="text-base">Monthly</span>
        <h5 class="font-medium text-sm">20.40%</h5>
      </div>
      <div>
        <span class="text-base">Daily</span>
        <h5 class="font-medium text-sm">5.40%</h5>
      </div>
    </div>
    <apx-chart [series]="productbsales.series" [chart]="productbsales.chart" [plotOptions]="productbsales.plotOptions"
      [xaxis]="productbsales.xaxis" [yaxis]="productbsales.yaxis" [grid]="productbsales.grid"
      [fill]="productbsales.fill" [tooltip]="productbsales.tooltip" [colors]="productbsales.colors">
    </apx-chart>
  </mat-card-content>
</mat-card>