<div class="mx-30 my-5 bg-slate-100">
  <h1 class="text-xl text-gray-500">Personel İşlemleri</h1>

  <div class="bg-white mt-10 flex justify-between p-5 px-10 rounded-xl">
    <p-iconfield>
      <input
        type="text"
        pInputText
        placeholder="Çalışan Ara"
        class="border border-gray-300 rounded-lg px-3 text-gray-500"
      />
      <p-inputicon class="pi pi-search" />
    </p-iconfield>

    <button
      type="button"
      class="text-white bg-blue-500 hover:bg-blue-600 rounded-full px-8 py-1.5 shadow-2xl"
      type="button"
      (click)="showDialog()"
    >
      Çalışan Ekle
    </button>
  </div>

  <app-add-employee-modal [(visible)]="visible"></app-add-employee-modal>

  <div class="mt-10 bg-white rounded-xl shadow p-6">
    <table class="min-w-full border border-gray-200 rounded-lg overflow-hidden">
      <thead>
        <tr class="">
          <th class="text-left px-4 py-2 border-b border-gray-200">İsim</th>
          <th class="text-left px-4 py-2 border-b border-gray-200">Soyisim</th>
          <th class="text-left px-4 py-2 border-b border-gray-200"></th>
          <th class="text-left px-4 py-2 border-b border-gray-200">Email</th>
          <th class="text-left px-4 py-2 border-b border-gray-200">Telefon</th>
          <th class="text-left px-4 py-2 border-b border-gray-200">Departman</th>
          <th class="text-left px-4 py-2 border-b border-gray-200">Ünvan</th>
          <th class="text-left px-4 py-2 border-b border-gray-200">Seçenekler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of filteredEmployees()" class="hover:bg-blue-50 transition">
          <td class="px-4 py-2 border-b border-gray-200 flex items-center gap-3">
            <ng-container *ngIf="employee.ProfileImage; else defaultAvatar">
              <img
                [src]="'data:image/jpeg;base64,' + employee.ProfileImage"
                alt="Profil Fotoğrafı"
                class="w-10 h-10 rounded-full object-cover border border-gray-200 shadow-sm"
              />
            </ng-container>

            <ng-template #defaultAvatar>
              <div
                class="w-10 h-10 flex items-center justify-center rounded-full bg-gray-100 border border-gray-300 shadow-sm"
              >
                <i class="pi pi-user text-gray-400 text-2xl"></i>
              </div>
            </ng-template>
          </td>

          <td class="px-4 py-2 border-b border-gray-200">{{ employee.FirstName }}</td>
          <td class="px-4 py-2 border-b border-gray-200">{{ employee.LastName }}</td>
          <td class="px-4 py-2 border-b border-gray-200">{{ employee.Email }}</td>
          <td class="px-4 py-2 border-b border-gray-200">{{ employee.PhoneNumber }}</td>
          <td class="px-4 py-2 border-b border-gray-200">{{ employee.Department }}</td>
          <td class="px-4 py-2 border-b border-gray-200">{{ employee.Title }}</td>
          <td class="px-4 py-2 border-b border-gray-200 gap-4 flex justify-center">
            <button
              type="button"
              (click)="updateEmployee(employee)"
              class="z-10 relative bg-transparent hover:text-green-500 transition"
            >
              <i class="pi pi-pencil"></i>
            </button>
            <button
              type="button"
              (click)="removeEmployee(employee.Id)"
              class="z-10 relative bg-transparent hover:text-red-500 transition"
            >
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="filteredEmployees().length === 0">
          <td colspan="4" class="text-center py-4 text-gray-400">Çalışan bulunamadı.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-add-employee-modal
  [(visible)]="visible"
  [employeeToEdit]="selectedEmployee"
  (employeeSaved)="loadEmployees()"
></app-add-employee-modal>
