<mat-card class="cardWithShadow mb-0!">
  <div class="p-5">
    <mat-card-title class="mb-4!">Highlights</mat-card-title>
    <div class="flex items-center justify-between py-3 border-b border-border">
      <h6 class="text-sm font-medium">Daily Sales</h6>
      <div class="flex items-center gap-3">
        <i-tabler name="arrow-up-right" class="size-5! flex text-success"></i-tabler>
        <h6 class="text-sm font-medium">Daily Sales</h6>
      </div>
    </div>
    <div class="flex items-center justify-between py-3 border-b border-border">
      <h6 class="text-sm font-medium">Avg. Clients</h6>
      <div class="flex items-center gap-3">
        <i-tabler name="arrow-up-right" class="size-5! flex text-error"></i-tabler>
        <h6 class="text-sm font-medium">400</h6>
      </div>
    </div>
    <div class="flex items-center justify-between py-3 border-b border-border">
      <h6 class="text-sm font-medium">Pending Tasks</h6>
      <div class="flex items-center gap-3">
        <i-tabler name="arrow-down-left" class="size-5! flex text-success"></i-tabler>
        <h6 class="text-sm font-medium">4.3 /37</h6>
      </div>
    </div>
  </div>
</mat-card>