<div class="grid grid-cols-12 gap-7.5">
  <div class="col-span-12 xl:col-span-5">
    <div class="flex flex-col gap-7.5">
      <div class="grid grid-cols-12 gap-7.5">
        <div class="col-span-12 lg:col-span-6">
          <app-online-revenue></app-online-revenue>
        </div>
        <div class="col-span-12 lg:col-span-6">
          <app-ad-expense></app-ad-expense>
        </div>
      </div>
      <app-upgrade-plan></app-upgrade-plan>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-material-pro></app-material-pro>
  </div>
  <div class="col-span-12 xl:col-span-3">
    <div class="flex flex-col gap-7.5">
      <app-highlights></app-highlights>
      <app-design-meetings></app-design-meetings>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-newsletter-campaign></app-newsletter-campaign>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-my-contacts-two></app-my-contacts-two>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-current-visits-two></app-current-visits-two>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-project-data></app-project-data>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-notification></app-notification>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <div class="flex flex-col gap-7.5">
      <app-bandwidth-usage></app-bandwidth-usage>
      <app-download-count></app-download-count>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-profile-card></app-profile-card>
  </div>
</div>