<div class="relative overflow-hidden h-screen bg-white">
  <div class="grid grid-cols-12 gap-3 h-screen">
    <div class="xl:col-span-8 lg:col-span-7 col-span-12 bg-light-primary relative">
      <div class="p-6 h-full">
        <app-auth-branding></app-auth-branding>

        <div class="items-center justify-center h-full hidden lg:flex">
          <img src="/assets/images/backgrounds/login-bg.png" alt="login" style="max-width: 500px" />
        </div>
      </div>
    </div>
    <div class="xl:col-span-4 lg:col-span-5 col-span-12 sm:px-12 p-5">
      <div class="flex lg:h-screen items-center lg:px-3 lg:justify-start justify-center">
        <div class="max-w-[420px] w-full mx-auto">
          <h4 class="font-bold text-2xl m-0">Forgot your password?</h4>
          <span class="text-sm block mt-2 text-muted">Please enter the email address associated with your
            account and
            We will email you a link to reset your password.</span>

          <form class="mt-8" [formGroup]="form" (ngSubmit)="submit()">
            <mat-label class="text-sm font-semibold mb-3 block">Email Adddress</mat-label>
            <mat-form-field appearance="outline" class="w-full" color="primary">
              <input matInput type="email" formControlName="email" />
              @if(f['email'].touched && f['email'].invalid) {
              <mat-hint class="mb-4 absolute -top-[19px] right-[3px]">
                @if(f['email'].errors && f['email'].errors['required']) {
                <div class="text-error">Email is required.</div>
                }
              </mat-hint>
              }
            </mat-form-field>

            <button mat-flat-button color="primary" class="w-full" [disabled]="!form.valid">
              Forgot Password
            </button>
            <a [routerLink]="['/authentication/login']" mat-stroked-button color="primary" class="w-full mt-2">
              Back to Login
            </a>
            <!-- input -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>