<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <mat-card-title>Current Visitors</mat-card-title>
    <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
    <div id="current-visitors-two" class="w-full h-[250px]"></div>
  </mat-card-content>

  <div class="p-7.5">
    <div class="flex items-center justify-center gap-7.5">
      <div class="flex flex-row gap-2.5 items-center">
        <i-tabler name="circle-filled" class="text-primary size-3! flex"></i-tabler>
        <span class="text-sm text-primary">India</span>
      </div>
      <div class="flex flex-row gap-2.5 items-center">
        <i-tabler name="circle-filled" class="text-body size-3! flex"></i-tabler>
        <span class="text-sm text-body">USA</span>
      </div>
      <div class="flex flex-row gap-2.5 items-center">
        <i-tabler name="circle-filled" class="text-secondary size-3! flex"></i-tabler>
        <span class="text-sm text-secondary">Africa</span>
      </div>
    </div>
  </div>
</mat-card>