<mat-card
  class="cardWithShadow shadow-none! material-pro-bg mb-0! bg-[url('/assets/images/backgrounds/material-pro-bg.png')] bg-cover bg-no-repeat min-h-[435px]">
  <mat-card-content>
    <div class="flex items-center gap-3">
      <button mat-icon-button (click)="openDialog()"
        class="size-15! flex items-center justify-center rounded-full bg-white!">
        <i-tabler name="player-play" class="flex"></i-tabler>
      </button>
      <div>
        <mat-card-title class="mat-mdc-card-title">Material Pro</mat-card-title>
        <mat-card-subtitle class="mat-mdc-card-subtitle">The real story</mat-card-subtitle>
      </div>
    </div>
  </mat-card-content>
</mat-card>