<div class="grid grid-cols-12 gap-7.5">
  <div class="col-span-12">
    <app-sparkline-cards></app-sparkline-cards>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-country-visit></app-country-visit>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-browser-stats></app-browser-stats>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-total-revenue></app-total-revenue>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <div class="flex flex-col gap-7.5">
      <app-sales-prediction></app-sales-prediction>
      <app-sales-difference></app-sales-difference>
    </div>
  </div>
  <div class="col-span-12">
    <app-fullcalendar></app-fullcalendar>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <app-recent-chat></app-recent-chat>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <app-my-contacts-two></app-my-contacts-two>
  </div>
</div>