<mat-card class="cardWithShadow mb-0!">
  <div class="p-2">
    <div class="rounded-lg bg-light-primary flex items-center justify-between px-5 py-7.5">
      <mat-card-title>New Delhi</mat-card-title>
      <mat-card-subtitle>Sunday 15 march</mat-card-subtitle>
    </div>
    <div class="flex items-center gap-3 px-5 py-5 mt-1">
      <div class="bg-light-primary size-12! rounded-full flex items-center justify-center">
        <i-tabler name="cloud-rain" class="flex text-primary"></i-tabler>
      </div>
      <div>
        <h3 class="text-primary text-2xl font-medium">32 °C</h3>
        <p class="m-0">Sunny Rainy</p>
      </div>
      <div class="ml-5">
        <h3 class="text-2xl font-medium">25 °C</h3>
        <p class="m-0">Tonight</p>
      </div>
    </div>
  </div>
</mat-card>