<div class="grid grid-cols-10 h-screen">

  <div class="col-span-6 bg-amber-400 h-screen">

    <img src="assets/loginPage.jpg" alt="" class="w-full h-full object-cover">
  </div>

  <div class="col-span-4 flex items-center justify-center">

    <div class="flex flex-col gap-4">
      <div >
        <label for="userName">Kullanıcı Adı</label>
        <input type="text" pInputText placeholder="Kullanıcı Adı" [(ngModel)]="userName">
      </div>

      <div>
        <input type="password" pInputText placeholder="Şifre" [(ngModel)]="password">

      </div>

      <div>
        <button pButton type="button" label="Giriş Yap" (click)="login()"></button>

      </div>
    </div>
    

  </div>

</div>


