<p-toast></p-toast>

<div class="grid grid-cols-10 h-screen">
  <div class="col-span-6 bg-blue-100 flex justify-center items-center">
    <img src="assets/login2.svg" alt="" class="w-3/4 h-3/4 object-cover" />
  </div>

  <div class="col-span-4 flex items-center justify-center bg-white">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="flex flex-col gap-6 w-3/4 bg-white p-10 rounded-2xl shadow-lg"
    >
      <div>
        <label for="userName" class="block mb-2 text-gray-700">Kullanıcı Adı</label>
        <input
          id="userName"
          type="text"
          formControlName="userName"
          pInputText
          placeholder="Kullanıcı Adı"
          class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-sky-400"
        />
      
      </div>
      <div>
        <label for="password" class="block mb-2 text-gray-700">Şifre</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          pInputText
          placeholder="Şifre"
          class="w-full border border-gray-300 rounded-lg p-2 focus:outline-none focus:ring-2 focus:ring-sky-400"
        />
      </div>
      <button
        pButton
        type="submit"
        label="Giriş Yap"
        class="w-full !bg-blue-400 hover:!bg-sky-600 text-white border-none rounded-lg shadow-md p-2"
      >
    </button>
    </form>
  </div>
</div>