<mat-card
  class="cardWithShadow upgrade-plan relative mb-0! bg-[linear-gradient(287deg,#1b84ff_0.54%,#1bcaff_100.84%)] md:before:content-[''] md:before:absolute md:before:top-0 rtl:md:before:-left-5 rtl:md:before:right-0 md:before:-right-5 md:before:w-full md:before:h-full md:before:bg-[url(/assets/images/backgrounds/make-social-media.png)] rtl:md:before:bg-left rtl:md:before:scale-x-100 md:before:bg-right md:before:bg-no-repeat">
  <mat-card-content>
    <p class="card-subtitle text-white mb-2.5 mt-0">Grab the top deal.</p>
    <h3 class="card-title text-white font-semibold text-2xl mb-4 mt-0 lh-lg">Upgrade Plan</h3>
    <div class="flex items-center gap-5 my-5">
      <div class="flex items-center gap-2">
        <div class="size-9.5! bg-white bg-opacity-20 rounded-full flex items-center justify-center">
          <i-tabler name="user" class="size-4.5! flex text-secondary"></i-tabler>
        </div>
        <div>
          <p class="text-xs text-white op-5 m-0">Team</p>
          <h5 class="text-xs font-semibold m-b-0 text-white">Up to 240</h5>
        </div>
      </div>
      <div class="flex items-center gap-2">
        <div class="size-9.5! bg-white bg-opacity-20 rounded-full flex items-center justify-center">
          <i-tabler name="circles-relation" class="size-4.5! flex text-secondary"></i-tabler>
        </div>
        <div>
          <p class="text-xs text-white op-5 m-0">Progress</p>
          <h5 class="text-xs font-semibold m-b-0 text-white">Almost 85%</h5>
        </div>
      </div>
    </div>
    <button mat-raised-button color="white" class="rounded-full text-secondary">Upgrade Plan</button>
  </mat-card-content>
</mat-card>