<mat-card class="cardWithShadow mb-0!">
  <mat-card-header>
    <div class="flex items-center justify-between flex-wrap gap-4 w-full">
      <div>
        <mat-card-title>Newsletter Campaign</mat-card-title>
        <mat-card-subtitle>Overview of Newsletter Campaign</mat-card-subtitle>
      </div>
      <div>
        <div class="flex flex-row gap-4 items-center">
          <div class="flex items-center gap-1.5 text-primary">
            <i-tabler name="circle-filled" class="size-3!"></i-tabler>
            <span class="text-sm">Open Rate</span>
          </div>
          <div class="flex items-center gap-1.5 text-secondary">
            <i-tabler name="circle-filled" class="size-3!"></i-tabler>
            <span class="text-sm">Recurring Payments</span>
          </div>
        </div>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <apx-chart [series]="newsletterchartOptions.series" [chart]="newsletterchartOptions.chart"
      [xaxis]="newsletterchartOptions.xaxis" [stroke]="newsletterchartOptions.stroke"
      [tooltip]="newsletterchartOptions.tooltip" [dataLabels]="newsletterchartOptions.dataLabels"
      [legend]="newsletterchartOptions.legend" [colors]="newsletterchartOptions.colors"
      [markers]="newsletterchartOptions.markers" [fill]="newsletterchartOptions.fill"
      [plotOptions]="newsletterchartOptions.plotOptions" [grid]="newsletterchartOptions.grid"
      [yaxis]="newsletterchartOptions.yaxis"></apx-chart>

    <div class="grid grid-cols-12 gap-6 text-center mt-2">
      <div class="col-span-12 md:col-span-4">
        <h2 class="text-3xl font-medium">5098</h2>
        <span class="text-sm">Total Sent</span>
      </div>
      <div class="col-span-12 md:col-span-4">
        <h2 class="text-3xl font-medium">4156</h2>
        <span class="text-sm">Mail Open Rate</span>
      </div>
      <div class="col-span-12 md:col-span-4">
        <h2 class="text-3xl font-medium">1369</h2>
        <span class="text-sm">Click Rate</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>