<div class="grid grid-cols-12 gap-7.5">
  <div class="col-span-12 xl:col-span-8">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-our-visitors></app-our-visitors>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-blog-card></app-blog-card>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-newsletter-campaign></app-newsletter-campaign>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-bandwidth-usage></app-bandwidth-usage>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-download-count></app-download-count>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-weather-card></app-weather-card>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <div class="flex flex-col gap-7.5">
      <app-profile-card></app-profile-card>
      <app-my-contacts></app-my-contacts>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-activity-timeline></app-activity-timeline>
  </div>
</div>