<mat-card class="cardWithShadow mb-0!">
  <mat-card-content>
    <div class="flex items-center justify-between gap-4 flex-wrap mb-1">
      <div>
        <mat-card-title>To Do list</mat-card-title>
        <mat-card-subtitle>List of your next task to complete</mat-card-subtitle>
      </div>
      <button mat-flat-button>Add Task</button>
    </div>
    <div class="to-do-widget common-widget">
      <ul class="list-task todo-list list-group list-style-none p-0 m-0">
        <li class="py-6 border-b border-border flex items-center justify-between">
          <div class="flex items-center gap-2">
            <mat-checkbox class="mb-0" color="primary"></mat-checkbox>
            <div>
              <div class="flex items-center flex-wrap gap-1 mb-1">
                <h5 class=" text-base font-medium mb-0">
                  Schedule meeting with
                </h5>
                <span
                  class="badge bg-light-primary text-xs font-medium px-2.5 py-1 rounded-full text-primary">Today</span>
              </div>
              <p class="text-sm m-0">
                Phasellus quis rutrum leo quis vulputate tortor...
              </p>
            </div>
          </div>
          <img src="assets/images/blog/blog-img2.jpg" alt="img" width="56" height="56" class="rounded-lg" />
        </li>
        <li class="py-6 border-b border-border flex items-center justify-between">
          <div class="flex items-center gap-2">
            <mat-checkbox class="mb-0" color="primary"></mat-checkbox>
            <div>
              <div class="flex items-center flex-wrap gap-1 mb-1">
                <h5 class=" text-base font-medium mb-0">
                  Forward all tasks
                </h5>
                <span
                  class="badge bg-light-secondary text-xs font-medium px-2.5 py-1 rounded-full text-secondary">Yesterday</span>
              </div>
              <p class="text-sm m-0">
                Mauris cursus scelerisque felis et ultricies...
              </p>
            </div>
          </div>
          <img src="assets/images/blog/blog-img4.jpg" alt="img" width="56" height="56" class="rounded-lg" />
        </li>
        <li class="py-6 border-b border-border flex items-center justify-between">
          <div class="flex items-center gap-2">
            <mat-checkbox class="mb-0" color="primary"></mat-checkbox>
            <div>
              <div class="flex items-center flex-wrap gap-1 mb-1">
                <h5 class=" text-base font-medium mb-0">
                  Give Purchase report to
                </h5>
                <span
                  class="badge bg-light-error text-xs font-medium px-2.5 py-1 rounded-full text-error">Tomorrow</span>
              </div>
              <p class="text-sm m-0">
                Vestibulum non aliquet mi vitae mollis lorem...
              </p>
            </div>
          </div>
          <img src="assets/images/blog/blog-img3.jpg" alt="img" width="56" height="56" class="rounded-lg" />
        </li>
        <li class="py-6 border-b border-border flex items-center justify-between">
          <div class="flex items-center gap-2">
            <mat-checkbox class="mb-0" color="primary"></mat-checkbox>
            <div>
              <div class="flex items-center flex-wrap gap-1 mb-1">
                <h5 class=" text-base font-medium mb-0">
                  Book flight for holiday
                </h5>
                <span class="badge bg-light-warning text-xs font-medium px-2.5 py-1 rounded-full text-warning">1
                  Week</span>
              </div>
              <p class="text-sm m-0">
                Aenean interdum auctor massa ut scelerisque...
              </p>
            </div>
          </div>
          <img src="assets/images/blog/blog-img1.jpg" alt="img" width="56" height="56" class="rounded-lg" />
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>