<div class="mx-30 my-5 bg-slate-100">
  <h1 class="text-xl text-gray-500">Ana Sayfa</h1>

  <div class="mt-10 grid grid-cols-2 gap-6">

    <div>
      <p-card header="Toplam Personel Sayısı" class="mb-5 !bg-amber-500">
        <p class="m-0">Lorem ipsum dolor sit amet...</p>
      </p-card>
    </div>

    <div>
      <p-card header="Toplam Envanter Sayısı" class="!bg-green-500"> 
        <p class="m-0">Lorem ipsum dolor sit amet...</p>
      </p-card>
    </div>


      <div>
      <p-card header="Toplam Personel Sayısı" class="mb-5 !bg-sky-500">
        <p class="m-0">Lorem ipsum dolor sit amet...</p>
      </p-card>
    </div>

    <div>
      <p-card header="Toplam Envanter Sayısı" class="!bg-red-500"> 
        <p class="m-0">Lorem ipsum dolor sit amet...</p>
      </p-card>
    </div>

  </div>
</div>
