<div class="grid grid-cols-12 gap-7.5">
  <div class="col-span-12">
    <app-revenue-cards></app-revenue-cards>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <div class="flex flex-col gap-7.5">
      <app-bandwidth-usage></app-bandwidth-usage>
      <app-download-count></app-download-count>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-our-visitors></app-our-visitors>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-current-visits></app-current-visits>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-blog-card></app-blog-card>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-newsletter-campaign></app-newsletter-campaign>
  </div>
  <div class="col-span-12 xl:col-span-8">
    <app-project-data></app-project-data>
  </div>
  <div class="col-span-12 xl:col-span-4">
    <app-profile-card></app-profile-card>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <app-recent-comment></app-recent-comment>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <app-todo-list></app-todo-list>
  </div>
</div>