<mat-card class="cardWithShadow bg-primary overflow-hidden mb-0!">
  <mat-card-content>
    <mat-card-title class="text-white">Design Meetings</mat-card-title>
    <mat-card-subtitle class="text-white!">2 Hours Left</mat-card-subtitle>
    <div class="flex items-center justify-between mt-10">
      <div class="flex items-center">
        <img src="/assets/images/profile/user-1.jpg" alt="user1"
          class="rounded-full -ml-2.5 border-2 border-white first:ml-0" width="40" height="40" />
        <img src="/assets/images/profile/user-2.jpg" alt="user2" class="rounded-full -ml-2.5 border-2 border-white"
          width="40" height="40" />
        <span
          class="size-10! rounded-full -ml-2.5 border-2 border-white flex items-center justify-center bg-white text-xs font-medium">+54</span>
      </div>
      <span class="size-10! rounded-full flex items-center justify-center bg-warning">
        <i-tabler name="arrow-up-right" class="flex text-white"></i-tabler>
      </span>
    </div>
  </mat-card-content>
</mat-card>