<mat-card class="cardWithShadow mb-0!">
  <mat-card-content class="text-center border-b border-border">
    <img src="assets/images/profile/user-5.jpg" alt="user" class="rounded-full mx-auto mt-3" width="150" />
    <mat-card-title class="my-2!">Hanna Gover</mat-card-title>
    <h5 class="font-medium text-base my-2">Account Manager Amix corp</h5>

    <div class="flex items-center justify-center gap-12 pb-4">
      <div class="flex items-center gap-1">
        <i-tabler name="users" class="size-4.5! flex"></i-tabler>
        <p class="m-0">254</p>
      </div>
      <div class="flex items-center gap-1">
        <i-tabler name="photo" class="size-4.5! flex"></i-tabler>
        <p class="m-0">54</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    <p class="m-0 text-sm">Email address</p>
    <h5 class="font-medium text-sm mb-6">hannagover&#64;gmail.com</h5>
    <p class="m-0 text-sm">Phone</p>
    <h5 class="font-medium text-sm mb-6">+91 654 784 547</h5>
    <p class="m-0 text-sm">Address</p>
    <h5 class="font-medium text-sm mb-6">
      71 Pilgrim Avenue Chevy Chase, MD 20815
    </h5>
    <div class="map-box mb-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
        class="w-full rounded-lg" height="150" style="border: 0" allowfullscreen></iframe>
    </div>
    <p class="mb-2 text-sm">Social Profile</p>
    <div class="flex items-center gap-2">
      <a href="javascript:void(0)"
        class="bg-primary text-white! rounded-full size-10! p-1 flex items-center justify-center">
        <i-tabler name="brand-facebook" class="size-5! flex"></i-tabler>
      </a>
      <a href="javascript:void(0)"
        class="bg-primary text-white! rounded-full size-10! p-1 flex items-center justify-center">
        <i-tabler name="brand-twitter" class="size-5! flex"></i-tabler>
      </a>
      <a href="javascript:void(0)"
        class="bg-primary text-white! rounded-full size-10! p-1 flex items-center justify-center">
        <i-tabler name="brand-youtube" class="size-5! flex"></i-tabler>
      </a>
    </div>
  </mat-card-content>
</mat-card>